@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Space Grotesk", ui-sans-serif, system-ui, sans-serif;
  --color-neon-cyan: #00F0FF;
  --color-neon-purple: #B026FF;
  --color-dark-bg: #0B0B12;
  --color-dark-surface: #151520;
  --animate-ripple: ripple 0.6s linear;
  @keyframes ripple {
    0% {
      width: 0;
      height: 0;
      opacity: 0.5;
    }
    100% {
      width: 100px;
      height: 100px;
      opacity: 0;
    }
  }
}

body {
  background-color: var(--color-dark-bg);
  color: #e2e8f0;
  font-family: "Space Grotesk", sans-serif;
}
